{% spaceless %}
    <div class="page-wrapper">
        <a class="btn btn-sm btn-default trigger" style="/* margin-top: 235px; */float: left;"
           href="javascript:">Mostrar
            productos</a>
    </div>
    <div class="modal-wrapper">
        <div class="modal">
            <div class="content">
                <div id="no-more-tables">
                    <table class="table table-responsive text-center">
                        <thead class="cf">
                        <tr class="tr-h">
                            <td class="numeric">Nro producto</td>
                            <td class="numeric">Categoria de Producto</td>
                            <td class="numeric">Nombre de Producto</td>
                            <td class="numeric">Precio</td>
                            <td class="numeric">Máximo descuento</td>
                            <td class="numeric">Cantidad stock <a class="btn-close trigger"
                                                                  href="javascript:"></a>
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                            <tr>
                                <td data-title="Nro producto">
                                    <div class="">{{ product.id|e|title }}</div>
                                </td>
                                <td data-title="Categoria de Producto">
                                    <div class="">{{ product.categoryname|e|title }}</div>
                                </td>
                                <td data-title="Nombre de Producto">
                                    <div class="">{{ product.productName|e|title }}</div>
                                </td>
                                <td data-title="Precio">
                                    <div class="">{{ product.productPrice|e }}</div>
                                </td>
                                <td data-title="Máximo descuento">
                                    <div class="">{{ product.productMaxDiscount|e }}</div>
                                </td>
                                <td data-title="Cantidad stock">
                                    {% if  product.productStockQuantity %}
                                        <div class="">{{ product.productStockQuantity|e }}</div>
                                    {% else %}
                                        <div class="label label-danger">{{ 'Sin stock'|trans }}</div>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endspaceless %}
{% spaceless %}
    <div class="page-wrappersecond">
        <a class="btn  btn-sm btn-default triggersecond"
           style="/* margin-top: 235px; */float: left;   margin-left: 10px;" href="javascript:">Mostrar
            proveedores</a>
    </div>
    <div class="modal-wrappersecond">
        <div class="modalsecond">
            <div class="contentsecond">
                <div id="no-more-tables">
                    <table class="table table-responsive text-center">
                        <thead class="cf">
                        <tr class="tr-h">
                            <td class="numeric">Nro proveedor</td>
                            <td class="numeric">Nombre proveedor</td>
                            <td class="numeric">Télefono</td>
                            <td class="numeric">Dirección <a
                                        class="btn-closesecond triggersecond"
                                        href="javascript:"></a>
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for provider in providers %}
                            <tr>
                                <td data-title="Nro proveedor">
                                    <div class="">{{ provider.id|e|title }}</div>
                                </td>
                                <td data-title="Nombre proveedor">
                                    <div class="">{{ provider.providerName|e|title }}</div>
                                </td>
                                <td data-title="Télefono">
                                    <div class="">{{ provider.providerTelephone|e }}</div>
                                </td>
                                <td data-title="Dirección">
                                    {% if  provider.providerAddress %}
                                        <div class="">{{ provider.providerAddress|e }}</div>
                                    {% else %}
                                        <div class="label label-danger">{{ 'no asignado'|trans }}</div>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endspaceless %}